<!DOCTYPE html>
<html>
<head>
    <title>Edit Author</title>
</head>
<body>
    <h1>Edit Author</h1>
    <form action="/authors/update" method="post">
        <input type="hidden" name="id" value="{{ author.id }}">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" value="{{ author.first_name }}" required><br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" value="{{ author.last_name }}" required><br>
        <input type="submit" value="Update Author">
    </form>
    <a href="/">Home</a>
</body>
</html>


